{% extends "eventix/base.html" %}
{% load ratings %}
{% load app_filters %}
{% load recommended_events %}
{% block content %}
    <form method="GET">
        <div class="row mb-4">
            <div class="form-group col-md-8">
                <input name="text_filter" type="text" value="{{request.GET.text_filter}}" placeholder="Search for events" class="form-control form-control-underlined">
            </div>
            <div class="col-md-4 container" style="display:flex;flex-direction:row;justify-content:center">
                <button type="submit" class="btn btn-success rounded-pill-custom btn-block shadow-sm">Search</button>
                <button type="button" class="btn btn-success btn-circle btn-lg collapsible"><i class="glyphicon glyphicon-link"></i></button>
            </div>
        </div>
        <div class="collapsible-content">
            <div class="container inline-div">
                <label class="inline-item label-item" for="organiser_name">Organiser Name:</label>
                <input id="organiser_name" class="form-control form-control-underlined col-md-6 inline-item" name="organiser_name" type="text" value="{{request.GET.organiser_name}}">
            </div>
            <div class="container inline-div">
                <label class="inline-item" for="location_name">Location:</label>
                <input id="location_name" class="form-control form-control-underlined col-md-6 inline-item" name="location_name" type="text" value="{{request.GET.location_name}}">
            </div>
            <div class="container inline-div">
                <label class="inline-item" for="minimum_rating">Minimum Rating:</label>
                <input id="minimum_rating" class="form-control form-control-underlined col-md-6 inline-item" name="minimum_rating" min="0" max="5" type="number" value="{{request.GET.minimum_rating}}">
            </div>
            <div class="container-inline-div">
                <label class="inline-item" for="start_date">From Date:</label>
                <input id="start_date" type="date" name="start_date" class="col-md-6" value="{{request.GET.start_date}}">
            </div>
            <div class="container-inline-div">
                <label class="inline-item" for="end_date">To Date:</label>
                <input id="end_date" type="date" name="end_date" class="col-md-6 inline-item" value="{{request.GET.end_date}}">
            </div>
        </div>

        <script>
            var coll = document.getElementsByClassName("collapsible")[0];
            coll.addEventListener("click", function() {
                this.classList.toggle("active");
                var content = document.getElementsByClassName("collapsible-content")[0];
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = content.scrollHeight + "px";
                }
              });
        </script>
    </form>

    {% for event in events %}
        <style>
            .hide-rating-info .star-ratings-rating-average {
                display: none;
            }

            .star-ratings-rating-count {
                display: none;
            }

            .star-ratings-rating-user {
                display: none;
            }
        </style>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-events' event.organiser.username %}">{{ event.organiser }}</a>
                    <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
                </div>
                <div class="floating-divs" style="overflow:hidden">
                    <div class="floating-title" style="float: left">
                        <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
                    </div>
                    <div class="hide-rating-info" style="float: right">{% ratings event read_only=True %}</div>
                </div>
                {% if event.poster %}
                    <div class="text-center">
                        <a href="{% url 'event-detail' event.id %}">
                            <img src="{{ event.poster.url }}" class="rounded" width="500px" height="300px"
                                 alt="Event presentation poster">
                        </a>
                    </div>
                {% endif %}
                {% if event.content|length > 50 %}
                    <p class="article-content">
                        {{ event.content|safe|truncatewords:"50"|linebreaks }}
                        <a href="{% url 'event-detail' event.id %}">Read more...</a>
                    </p>
                {% else %}
                    <br><p class="article-content">{{ event.content }}</p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    {% if events.has_other_pages %}
    <ul class="pagination">
        {% if events.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page={{ events.previous_page_number }}{% if request.GET.text_filter and request.GET.text_filter != "" %}&text_filter={{ request.GET.text_filter }}{% endif %}{% if request.GET.organiser_name and request.GET.organiser_name != "" %}&organiser_name={{ request.GET.organiser_name }}{% endif %}{% if request.GET.location_name and request.GET.location_name != "" %}&location_name={{ request.GET.location_name }}{% endif %}{% if request.GET.minimum_rating and request.GET.minimum_rating != "" %}&minimum_rating={{ request.GET.minimum_rating }}{% endif %}{% if request.GET.start_date and request.GET.start_date != "" %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date and request.GET.end_date != "" %}&end_date={{ request.GET.end_date }}{% endif %}">
                <i class="material-icons">Previous</i>
            </a>
        {% else %}
            <a class="btn btn-outline-info mb-4 disabled" href="#!"><i class="material-icons">Previous</i></a>
        {% endif %}
        {% for num in events.paginator.page_range %}
            {% if events.number == num %}
                <a class="btn btn-outline-info mb-4" href="#!">{{ num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}{% if request.GET.text_filter and request.GET.text_filter != "" %}&text_filter={{ request.GET.text_filter }}{% endif %}{% if request.GET.organiser_name and request.GET.organiser_name != "" %}&organiser_name={{ request.GET.organiser_name }}{% endif %}{% if request.GET.location_name and request.GET.location_name != "" %}&location_name={{ request.GET.location_name }}{% endif %}{% if request.GET.minimum_rating and request.GET.minimum_rating != "" %}&minimum_rating={{ request.GET.minimum_rating }}{% endif %}{% if request.GET.start_date and request.GET.start_date != "" %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date and request.GET.end_date != "" %}&end_date={{ request.GET.end_date }}{% endif %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if events.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ events.next_page_number }}{% if request.GET.text_filter and request.GET.text_filter != "" %}&text_filter={{ request.GET.text_filter }}{% endif %}{% if request.GET.organiser_name and request.GET.organiser_name != "" %}&organiser_name={{ request.GET.organiser_name }}{% endif %}{% if request.GET.location_name and request.GET.location_name != "" %}&location_name={{ request.GET.location_name }}{% endif %}{% if request.GET.minimum_rating and request.GET.minimum_rating != "" %}&minimum_rating={{ request.GET.minimum_rating }}{% endif %}{% if request.GET.start_date and request.GET.start_date != "" %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date and request.GET.end_date != "" %}&end_date={{ request.GET.end_date }}{% endif %}">
                <i class="material-icons">Next</i>
            </a>
        {% else %}
            <a class="btn btn-outline-info mb-4 disabled" href="#!"><i class="material-icons">Next</i></a>
        {% endif %}
    </ul>
{% endif %}
{% endblock content %}
{% block content-sidebar %}
    <div class="content-section">
        <h3>Info Sidebar</h3>
        <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Recommended Events:
                {% if user|recommended_events  and user|recommended_events|length != user|recommended_events|count_none %}
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for event in user|recommended_events %}
                                {% if forloop.first %}
                                    {% if event.poster %}
                                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"
                                            class="active"></li>
                                    {% endif %}
                                {% else %}
                                    {% if event.poster %}
                                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for event in user|recommended_events %}
                                {% if forloop.first %}
                                    {% if event.poster %}
                                        <div class="carousel-item active">
                                            <div class="text-center">
                                                {{ event.title }}</div>
                                            <a href="{% url 'event-detail' event.id %}">
                                                <img src="{{ event.poster.url }}" style="width:100%;height:300px"
                                                     alt="Event presentation poster">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    {% if event.poster %}
                                        <div class="carousel-item">
                                            <div class="text-center">
                                                {{ event.title }}</div>
                                            <a href="{% url 'event-detail' event.id %}">
                                                <img src="{{ event.poster.url }}" style="width:100%;height:300px"
                                                     alt="Event presentation poster">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                {% else %}
                  No Events to recommend yet...
                {% endif %}
            </li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">etc</li>
        </ul>
        </p>
    </div>

{% endblock %}
